@import "@fontsource/inter"; /* Use Inter */
@import "@fontsource/poppins"; /* Use Poppins */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mask-fade {
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 1) 90%
    );
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 1) 90%
    );
    pointer-events: none;
  }
}
